# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
env/
venv/

# Editor
.vscode/

# OneDrive / VS lock files
.onetoc2
.~lock.*

# Logs
*.log

# Build outputs
build/
out/
